body {
	font-family: arial;
	margin: 0 auto;
	width: 400px;
	background-color: '#FFFACD'
}

/* header */
.header h1 {
	margin: 0 auto;
	width: 300px;
	display: inline-block;
	color: blue;
}

.header p {
	margin: 0 auto;
	width: 300;
	display: inline-block;
	font-style: italic;
}

.navigation {	
	display: inline-block;
	margin-left: 50px;
}

/* body */
.intro {
	margin: 0 auto;
	width: 400px;
}
